fastapi
uvicorn
pydantic
requests
PyMuPDF==1.22.5
numpy
langchain
langchain-community
langchain-groq
groq
python-dotenv
faiss-cpu
sentence-transformers==2.6.1
torch==2.5.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
